@import "../../common/base";
@import "../../components/loading/loading";
@import "../../components/dialog/dialog";

.reg-form {
    padding: 0 30px;
    h2 {
        padding: 30px 0 50px;
        font-size: 16px;
        color: @green-sea;
        text-align: center;
    }
	.form-item {
        margin-bottom: 20px;
        .form-control {
            height: 50px;
            text-align: center;
            background: inherit;
            border: 2px solid @green-sea;
            .border-radius(100px);
        }
        .btn {
            width: 100%;
            font-size: 16px;
            letter-spacing: 10px;
        }
    }
}

