<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="dns-prefetch" href="//g.alicdn.com">
    <link rel="dns-prefetch" href="//at.alicdn.com">
    <link rel="dns-prefetch" href="//img.alicdn.com">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="apple-touch-icon" href="favicon.png" />
    <link rel="Shortcut Icon" href="favicon.png" type="image/x-icon" />
    <title>约吗？</title>

    <script>g_start = new Date();</script>

    <!-- build:css -->
    <link rel="stylesheet" href="../build/css/list.css?t=1470672930752">
    <!-- endbuild -->

</head>
<body>

<nav class="menu">
    <div class="menu-profile">
        <a class="profile-lnk" href="./login.html">
            <span class="iconfont icon-account"></span>          
            <span class="login-info">
            请登录
            </span>
        </a>
    </div>
    <ul>
        <li>
            <a class="menu-item current" href="./list.html"><span class="iconfont icon-followed"></span>发现</a>
        </li>
        <li>
            <a class="menu-item" href="./msg.html"><span class="iconfont icon-message"></span>消息</a>
        </li>
        <li>
            <a class="menu-item" href="./postdate.html"><span class="iconfont icon-send"></span>发起约会</a>
        </li>
    </ul>
    <div class="menu-set">
        <span class="iconfont icon-set"></span>
        <a href="./login.html">退出</a>
    </div>
</nav>
<header id="header" class="header-fixed">
    <h1>约吗？</h1>
    <a href="javascript:;" class="menu-trigger"></a>
    <a class="menu-right menu-filter" href="javascript:;">
        <span class="iconfont icon-filter"></span>
    </a>
</header>
<div class="page-content">
    <ul class="list">
        
    </ul>
    <div id="loadmore"></div>
</div>

<!-- <a class="g-senddate" href="./postdate.html"><span class="iconfont icon-send"></span></a> -->
<div class="g-panel">
    <ul class="tag-list">
        <li class="tag-item" data-val="2">
            <span class="iconfont icon-coffee"></span>喝咖啡/茶
        </li>
        <li class="tag-item" data-val="3">
            <span class="iconfont icon-food"></span>美食
        </li>
        <li class="tag-item" data-val="4">
            <span class="iconfont icon-film"></span>看电影
        </li>
        <li class="tag-item" data-val="11">
            <span class="iconfont icon-flight"></span>同行
        </li>
        <li class="tag-item" data-val="5">
            <span class="iconfont icon-run"></span>跑步
        </li>
        <li class="tag-item" data-val="7">
            <span class="iconfont icon-badminton"></span>羽毛球
        </li>
        <li class="tag-item" data-val="8">
            <span class="iconfont icon-riding"></span>骑行
        </li>
        <li class="tag-item" data-val="9">
            <span class="iconfont icon-drive"></span>自驾
        </li>
        <li class="tag-item" data-val="6">
            <span class="iconfont icon-photo"></span>摄影
        </li>
        <li class="tag-item" data-val="1">
            <span class="iconfont icon-lquote"></span>其他
        </li>
    </ul>
</div>

<script id="listTmpl" type="text/tmpl">
<% for(var i=0; i<list.length; i++){ %>
    <li class="item">
        <a class="item-lnk" href="./profile.html?id=<%= list[i].postUserInfo.id %>">
            <div class="avatar">
                <img src="<%= list[i].postUserInfo.avatar %>_s120" alt="" />
            </div>
            <div class="info-box">
                <div class="name"><%= list[i].postUserInfo.nickName %></div>
                <div class="info"><%= list[i].age %>岁, <%= list[i].sex %>, <%= list[i].city %></div>
                <div class="info career-info"><%= list[i].profession %></div>
            </div>
            <div class="latest-date">
                <span class="label">约吗？</span><%- list[i].datingInfo.article %>
            </div>
            <div class="date-info">
                <span class="what"><span class="iconfont <%= list[i].iconCls %>"></span><%= list[i].typeName %></span>
                <span class="time"><span class="iconfont icon-calendar"></span><%= list[i].time %></span>
            </div>
        </a>
        <a class="g-yue" href="javascript:;" data-id="<%= list[i].datingInfo.uUID %>" data-uid="<%= list[i].datingInfo.userId %>">
            <span class="iconfont icon-yes"></span>
        </a>
    </li>
<% } %>
</script>

<script src="../build/js/base.js"></script>
<!-- build:js -->
<script src="../build/js/list.js"></script>
<!-- endbuild -->

<!-- 加载脚本 -->
<script>
    g_mstart = new Date();
</script>
</body>
</html>
