<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="dns-prefetch" href="//g.alicdn.com">
    <link rel="dns-prefetch" href="//at.alicdn.com">
    <link rel="dns-prefetch" href="//img.alicdn.com">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="apple-touch-icon" href="favicon.png" />
    <link rel="Shortcut Icon" href="favicon.png" type="image/x-icon" />
    <title>消息</title>

    <script>g_start = new Date();</script>

    <!-- build:css -->
    <link rel="stylesheet" href="../build/css/msg.css">
    <!-- endbuild -->

</head>
<body>

<nav class="menu">
    <div class="menu-profile">
        <a class="profile-lnk" href="./login.html">
            <span class="iconfont icon-account"></span>          
            <span class="login-info">
            请登录
            </span>
        </a>
    </div>
    <ul>
        <li>
            <a class="menu-item" href="./list.html"><span class="iconfont icon-followed"></span>发现</a>
        </li>
        <li>
            <a class="menu-item current" href="./msg.html"><span class="iconfont icon-message"></span>消息</a>
        </li>
        <li>
            <a class="menu-item" href="./postdate.html"><span class="iconfont icon-send"></span>发起约会</a>
        </li>
    </ul>
    <div class="menu-set">
        <span class="iconfont icon-set"></span>
        <a href="./login.html">退出</a>
    </div>
</nav>
<header id="header" class="header-fixed">
    <h1>消息列表</h1>
    <a href="javascript:;" class="menu-trigger"></a>
</header>
<div class="page-content">
    <ul class="list">
        
    </ul>
    <div id="loadmore"></div>
</div>

<script id="listTmpl" type="text/tmpl">
<% for(var i=0; i<list.length; i++){ %>
    <li class="item">
        <a class="item-lnk" href="./chat.html??uid=<%= list[i].postUserId %>&did=<%= list[i].uUID %>">
            <div class="avatar">
                <img src="<%= list[i].avatar %>_s60" alt="" />
            </div>
            <div class="info">
                <span class="send-time"><%= list[i].sendTime %></span>
                <div class="username"><%= list[i].from %></div>
                <div class="latest-msg"><%= list[i].message %></div>
            </div>
        </a>
    </li>
<% } %>
</script>

<script src="../build/js/base.js"></script>
<!-- build:js -->
<script src="../build/js/msg.js"></script>
<!-- endbuild -->

<!-- 加载脚本 -->
<script>
    g_mstart = new Date();
</script>
</body>
</html>
