@import "../../common/base";

body {
	background: #fff;
    -webkit-font-smoothing: antialiased;
}
.basic-info {
	padding: 40px 0;
	color: #fff;
	text-align: center;
	background-color: #3d567e;
	.avatar {
		margin: 0 auto 15px;
		padding: 3px;
		width: 85/20rem;
		height: 85/20rem;
		background-color: rgba(255, 255, 255, 0.3);
		overflow: hidden;
		.border-radius(50%);
		img {
			display: block;
			width: 85/20rem;
			height: 85/20rem;
			.border-radius(50%);
		}
	}
	.name {
		font-size: 22px;
	}
	.job, .summary {
		margin-top: 6px;
		opacity: 0.6;
		font-size: 14px;
	}
	.pub-date {
		display: block;
		margin: 20px auto 0;
		width: 100px;
		height: 30px;
		line-height: 30px;
		color: #fff;
		font-size: 14px;
		text-align: center;
		border: 1px solid #fff;
		opacity: 0.5;
		.border-radius(5px);
	}

}
.details {
	.stat {
		.clearfix;
		background-color: @blue-bg;
		.stat-item {
			position: relative;
			float: left;
			padding: 15/20rem 0;
			width: 50%;
			text-align: center;
			line-height: 1.6;
			color: #fff;
			font-size: 14px;
			.hairline(right, rgba(255, 255, 255, 0.3));
			&:last-child {
				.hairline-remove(right);
			}
			h3 {
				margin: 0;
				font-weight: normal;
			}
		}
	}
	.latest-date {
		position: relative;
		.hairline(top, rgba(255, 255, 255, 0.3));
		.lnk-date {
	        position: relative;
			display: block;
			padding: 20/20rem 40px;
			background-color: @blue-bg;
	        .encoded-svg-background("<svg viewBox='0 0 60 120' xmlns='http://www.w3.org/2000/svg'><path d='m60 61.5-38.25 38.25-9.75-9.75 29.25-28.5-29.25-28.5 9.75-9.75z' fill='#ffffff'/></svg>");
	        background-size: 10/20rem 20/20rem;
	        background-repeat: no-repeat;
	        background-position: 95% center;
	        background-position: -webkit-calc(~"100% - 20px") center;
	        background-position: calc(~"100% - 20px") center;
	        .words {
	        	font-size: 16px;
	        	color: #fff;
	        	.text-overflow();
	        }
	        .date-info {
	        	margin-top: 5px;
	        	color: @silver;
	        	font-size: 12px;
	        	.iconfont {
	        		margin-right: 3px;
	        		font-size: 12px;
	        	}
	        	.time, .address {
	        		margin-right: 5px;
	        	}
	        }
        	.icon-lquote {
        		position: absolute;
        		left: 20px;
        		top: 15px;
        	}
	    }
	}
	.photo {
		position: relative;
		float: left;
		width: 50%;
		overflow: hidden;
		a  {
			display: block;
			width: 100%;
			.clearfix;
			img {
				float: left;
				width: 50%;
				opacity: 0.5;
			}
			.photo-count {
				position: absolute;
				bottom: 0;
				right: 0;
				width: 50%;
				height: 50%;
  				color: #fff;
  				font-size: 16px;
  				text-align: center;
				background: @green-sea;
				.center();
				.box-shadow(0 0 15px rgba(0, 0, 0, 0.5));
				em {
  					font-size: 18px;
  					font-weight: bold;
				}
			}
		}
	}
	.tags {
		position: relative;
		float: left;
		width: 50%;
		overflow: hidden;
		.tags-con {
			overflow-y: auto;
		}
		.tag {
			position: relative;
			float: left;
			width: 50%;
			height: 50%;
			padding: 0 10px;
			text-align: center;
			color: @text-color;
			font-size: 14px;
			.center();
			.border-box();
			.hairline(right, @borderColor);
			.hairline(top, @borderColor);
			em {
				color: @red-color;
				font-size: 16px;
			}
			&:nth-child(1) {
				.hairline-remove(top);
			}
			&:nth-child(2) {
				.hairline-remove(top);
			}
		}
		.tags-count {
			position: absolute;
			z-index: 99;
			bottom: 0;
			left: 0;
			width: 50%;
			height: 50%;
			color: @text-color;
			font-size: 16px;
			text-align: center;
			background: #fff;
			.center();
			.box-shadow(0 0 15px rgba(0, 0, 0, 0.5));
			em {
				font-size: 18px;
				font-weight: bold;
			}
		}
	}
}
