<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="dns-prefetch" href="//g.alicdn.com">
    <link rel="dns-prefetch" href="//at.alicdn.com">
    <link rel="dns-prefetch" href="//img.alicdn.com">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="apple-touch-icon" href="favicon.png" />
    <link rel="Shortcut Icon" href="favicon.png" type="image/x-icon" />
    <title>发起的约会</title>

    <script>g_start = new Date();</script>

    <!-- build:css -->
    <link rel="stylesheet" href="../build/css/datelist.css">
    <!-- endbuild -->

</head>
<body>

<div class="page-content">
    <div class="profile">
        <div class="avatar">
            <img src="https://gtms03.alicdn.com/tps/i3/TB1yeWeIFXXXXX5XFXXuAZJYXXX-210-210.png_80x80.jpg" alt="" />
        </div>
        <div class="info">
            <div class="name">洛丽塔</div>
            <div class="info-row">25岁, 教师</div>
        </div>
    </div>
    <ul class="list">
        
    </ul>
</div>

<script id="list-tmpl" type="text/tmpl">
<% for(var i=0; i<list.length; i++){ %>
    <li class="item">
        <div class="date-words">  
            <div class="label"><span class="iconfont icon-lquote"></span>约吗？</div>
            <%= list[i].words %>
        </div>
        <div class="date-info">
            <span class="time"><span class="iconfont icon-calendar"></span><%= list[i].time %></span>
            <span class="what"><span class="iconfont <%= list[i].iconCls %>"></span><%= list[i].what %></span>
        </div>
        <a class="g-yue" href="javascript:;" data-id="<%= list[i].id %>">
            <span class="iconfont icon-yes"></span>
        </a>
    </li>
<% } %>
</script>

<script src="../build/js/base.js"></script>
<!-- build:js -->
<script src="../build/js/datelist.js"></script>
<!-- endbuild -->

<!-- 加载脚本 -->
<script>
    g_mstart = new Date();
</script>
</body>
</html>
