<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="dns-prefetch" href="//g.alicdn.com">
    <link rel="dns-prefetch" href="//at.alicdn.com">
    <link rel="dns-prefetch" href="//img.alicdn.com">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="apple-touch-icon" href="favicon.png" />
    <link rel="Shortcut Icon" href="favicon.png" type="image/x-icon" />
    <title>约吗？</title>

    <script>g_start = new Date();</script>

    <!-- build:css -->
    <link rel="stylesheet" href="../build/css/index.css">
    <!-- endbuild -->

</head>
<body>

<div class="page-content">
    <section id="daily-sale">
        <div class="slider">
            <div class="scroller">
                <a class="item current" href="list.html">
                    <div class="img">
                        <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=3174934711,2321617919&fm=58" alt=""/>
                    </div>
                    <div class="summary">
                        <div class="title">百度CEO李彦宏约饭招资深前端工程师</div>
                        <div class="prices">
                            <span class="o-price"><i class="yen">￥</i><del>999</del></span>
                            <span class="price"><i class="yen">￥</i><b>899</b></span>
                        </div>
                        <button class="btn-pai" data-id="123">
                            <span class="iconfont icon-money"></span>
                        </button>
                    </div>
                </a>
                <a class="item" href="#" data-index="0">
                    <div class="img">
                        <img src="http://img.juimg.com/tuku/yulantu/130512/235076-13051206325913.jpg" alt=""/>
                    </div>
                    <div class="summary">
                        <div class="title">前端美女约你Beta咖啡见，约吗？</div>
                        <div class="prices">
                            <span class="o-price"><i class="yen">￥</i><del>999</del></span>
                            <span class="price"><i class="yen">￥</i><b>899</b></span>
                        </div>
                        <button class="btn-pai" data-id="123">
                            <span class="iconfont icon-money"></span>
                        </button>
                    </div>
                </a>               
                <a class="item" href="#" data-index="0">
                    <div class="img">
                        <img src="http://img21.mtime.cn/CMS/News/2011/01/20/180949.82896758.jpg" alt=""/>
                    </div>
                    <div class="summary">
                        <div class="title">与马克扎克伯格共进午餐</div>
                        <div class="prices">
                            <span class="o-price"><i class="yen">￥</i><del>999</del></span>
                            <span class="price"><i class="yen">￥</i><b>899</b></span>
                        </div>
                        <button class="btn-pai" data-id="123">
                            <span class="iconfont icon-money"></span>
                        </button>
                    </div>
                </a>
            </div>
            <div class="icons">
                <i class="current"></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
            </div>
        </div>
    </section>

    <ul class="profile-list">
        <li class="item">
            <a class="item-lnk" href="profile.html">
                <div class="avatar">
                    <img src="https://gtms03.alicdn.com/tps/i3/TB1yeWeIFXXXXX5XFXXuAZJYXXX-210-210.png_80x80.jpg" alt="" />
                </div>
                <div class="info-box">
                    <div class="name">洛丽塔</div>
                    <div class="info">25岁, 女, 教师</div>
                    <div class="info">杭州市</div>
                </div>
                <div class="latest-date">
                    <span class="label">约吗？</span>周末一起看电影~
                </div>
            </a>
            <div class="g-menu">
                <ul class="menu-items">
                    <li class="menu-item menu1">
                        <button class="menu-item-button">
                            <span class="iconfont icon-follow"></span>
                        </button>
                    </li>
                    <li class="menu-item menu2">
                        <button class="menu-item-button">
                            <span class="iconfont icon-message"></span>
                        </button>
                    </li>
                </ul>
                <button class="menu-toggle-button" data-id="123">
                    <span class="iconfont icon-yes"></span>
                </button>
            </div>
        </li>
        <li class="item">
            <a class="item-lnk" href="#">
                <div class="avatar">
                    <img src="https://gtms03.alicdn.com/tps/i3/TB1yeWeIFXXXXX5XFXXuAZJYXXX-210-210.png_80x80.jpg" alt="" />
                </div>
                <div class="info-box">
                    <div class="name">Jessica</div>
                    <div class="info">26岁, 女, 设计师</div>
                    <div class="info">杭州市</div>
                </div>
                <div class="latest-date">
                    <span class="label">约吗？</span>请你喝一杯咖啡，在某个惬意的午后在一个安静充满阳光的咖啡店
                </div>
            </a>
            <div class="g-menu">
                <ul class="menu-items">
                    <li class="menu-item menu1">
                        <button class="menu-item-button">
                            <span class="iconfont icon-follow"></span>
                        </button>
                    </li>
                    <li class="menu-item menu2">
                        <button class="menu-item-button">
                            <span class="iconfont icon-message"></span>
                        </button>
                    </li>
                </ul>
                <button class="menu-toggle-button" data-id="123">
                    <span class="iconfont icon-yes"></span>
                </button>
            </div>
        </li>
        <li class="item">
            <a class="item-lnk" href="#">
                <div class="avatar">
                    <img src="https://gtms03.alicdn.com/tps/i3/TB1yeWeIFXXXXX5XFXXuAZJYXXX-210-210.png_80x80.jpg" alt="" />
                </div>
                <div class="info-box">
                    <div class="name">Jessica</div>
                    <div class="info">26岁, 女, 设计师</div>
                    <div class="info">杭州市</div>
                </div>
                <div class="latest-date">
                    <span class="label">约吗？</span>请你喝一杯咖啡，在某个惬意的午后在一个安静充满阳光的咖啡店
                </div>
            </a>
            <div class="g-menu">
                <ul class="menu-items">
                    <li class="menu-item menu1">
                        <button class="menu-item-button">
                            <span class="iconfont icon-follow"></span>
                        </button>
                    </li>
                    <li class="menu-item menu2">
                        <button class="menu-item-button">
                            <span class="iconfont icon-message"></span>
                        </button>
                    </li>
                </ul>
                <button class="menu-toggle-button" data-id="123">
                    <span class="iconfont icon-yes"></span>
                </button>
            </div>
        </li>
    </ul>
</div>

<script id="result-tmpl" type="text/tmpl">
<% if(title){ %>
        <div id="prize-title"><%=title%></div>
        <% } %>
        <div id="prize-content"><%=content%></div>
 
</script>

<script src="../build/js/base.js"></script>
<!-- build:js -->
<script src="../build/js/index.js"></script>
<!-- endbuild -->

<!-- 加载脚本 -->
<script>
    g_mstart = new Date();
</script>
</body>
</html>
