<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="dns-prefetch" href="//g.alicdn.com">
    <link rel="dns-prefetch" href="//at.alicdn.com">
    <link rel="dns-prefetch" href="//img.alicdn.com">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="apple-touch-icon" href="favicon.png" />
    <link rel="Shortcut Icon" href="favicon.png" type="image/x-icon" />
    <title>约吗？Jessica</title>

    <script>g_start = new Date();</script>

    <!-- build:css -->
    <link rel="stylesheet" href="../build/css/profile.css">
    <!-- endbuild -->

</head>
<body>

<div class="page-content">
    <div class="basic-info">
        <div class="scroller">
            <div class="item">
                <img src="../build/images/blank.gif" style="background-image:url(http://ww4.sinaimg.cn/mw690/00654QmXgw1f3lz8nko4bj31410qojw8.jpg)" alt="" />
            </div>
            <div class="item">
                <img src="../build/images/blank.gif" style="background-image:url(http://ww2.sinaimg.cn/mw690/00654QmXgw1f3lz8tt3ovj30qo1400zq.jpg)" alt="" />
            </div>
            <div class="item">
                <img src="../build/images/blank.gif" style="background-image:url(http://ww3.sinaimg.cn/mw690/00654QmXgw1f3ducag03xj30ku0rsgqp.jpg)" alt="" />
            </div>
        </div>
        <div class="icons">
            <i class="current"></i>
            <i></i>
            <i></i>
        </div>
        <div class="info">
            <h2 class="name">
                Jessica
            </h2>
            <div class="profession">
                阿里国际UED视觉设计师
            </div>
        </div>
        <div class="side-action">
            <a class="pub-date" href="./postdate.html"><span class="iconfont icon-send"></span></a>
        </div>
    </div>
    <div class="details">
        <ul class="stat">
            <li class="stat-item">
                <h3>0次<br>赴约</h3>
            </li>
            <li class="stat-item">
                <h3>0次<br>爽约</h3>
            </li>
        </ul>
    </div>
</div>
<ul class="list">

    <li class="item">
        <div class="date-words">  
            <div class="label"><span class="iconfont icon-lquote"></span>约吗？</div>
            美队3要上映了，周末去看吗
        </div>
        <div class="date-info">
            <span class="time"><span class="iconfont icon-calendar"></span>2016/05/06</span>
            <span class="what"><span class="iconfont icon-film"></span>电影</span>
        </div>
        <a class="g-yue" href="javascript:;" data-id="123">
            <span class="iconfont icon-yes"></span>
        </a>
    </li>

    <li class="item">
        <div class="date-words">  
            <div class="label"><span class="iconfont icon-lquote"></span>约吗？</div>
            美队3要上映了，周末去看吗
        </div>
        <div class="date-info">
            <span class="time"><span class="iconfont icon-calendar"></span>2016/05/06</span>
            <span class="what"><span class="iconfont icon-film"></span>电影</span>
        </div>
        <a class="g-yue" href="javascript:;" data-id="123">
            <span class="iconfont icon-yes"></span>
        </a>
    </li>

    <li class="item">
        <div class="date-words">  
            <div class="label"><span class="iconfont icon-lquote"></span>约吗？</div>
            美队3要上映了，周末去看吗
        </div>
        <div class="date-info">
            <span class="time"><span class="iconfont icon-calendar"></span>2016/05/06</span>
            <span class="what"><span class="iconfont icon-film"></span>电影</span>
        </div>
        <a class="g-yue" href="javascript:;" data-id="123">
            <span class="iconfont icon-yes"></span>
        </a>
    </li>

</ul>

<script id="tmpl" type="text/tmpl">
<% for(var i=0; i<list.length; i++){ %>
    <li class="item">
        <div class="date-words">  
            <div class="label"><span class="iconfont icon-lquote"></span>约吗？</div>
            <%= list[i].words %>
        </div>
        <div class="date-info">
            <span class="time"><span class="iconfont icon-calendar"></span><%= list[i].time %></span>
            <span class="what"><span class="iconfont <%= list[i].iconCls %>"></span><%= list[i].what %></span>
        </div>
        <a class="g-yue" href="javascript:;" data-id="<%= list[i].id %>">
            <span class="iconfont icon-yes"></span>
        </a>
    </li>
<% } %>
</script>

<script src="../build/js/base.js"></script>
<!-- build:js -->
<script src="../build/js/profile.js"></script>
<!-- endbuild -->

<!-- 加载脚本 -->
<script>
    g_mstart = new Date();
</script>
</body>
</html>
