@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1460366840_765965.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1460366840_765965.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1460366840_765965.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1460366840_765965.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1460366840_765965.svg#iconfont') format('svg'); /* iOS 4.1- */
}
                    
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checke:before { content: "\e600"; }
.icon-send:before { content: "\e601"; }
.icon-follow:before { content: "\e602"; }
.icon-message:before { content: "\e603"; }
.icon-filter:before { content: "\e604"; }
.icon-money:before { content: "\e605"; }
.icon-followed:before { content: "\e606"; }
.icon-photo:before { content: "\e607"; }
.icon-account:before { content: "\e608"; }
.icon-password:before { content: "\e609"; }
.icon-no:before { content: "\e60a"; }
.icon-yes:before { content: "\e60b"; }
.icon-warn:before { content: "\e60c"; }
.icon-error:before { content: "\e60d"; }
.icon-success:before { content: "\e60e"; }
.icon-female:before { content: "\e610"; }
.icon-male:before { content: "\e60f"; }
.icon-calendar:before { content: "\e611"; }
.icon-badminton:before { content: "\e612"; }
.icon-lquote:before { content: "\e613"; }
.icon-rquote:before { content: "\e614"; }
.icon-coffee:before { content: "\e615"; }
.icon-shopping:before { content: "\e616"; }
.icon-drive:before { content: "\e617"; }
.icon-riding:before { content: "\e618"; }
.icon-idea:before { content: "\e619"; }
.icon-food:before { content: "\e61a"; }
.icon-run:before { content: "\e61b"; }
.icon-film:before { content: "\e61c"; }
.icon-location:before { content: "\e61d"; }
